*{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
}
#camera{
    background-color: red;
    position: relative;
    width: 100%;
    height: 85%;
}

#buttons{
    position: relative;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#buttons button{
    border-radius: 28px;
    height: 70%;
    width: 20%;
    border: solid 5px darkgray;
    background-color: indianred;
    color: red;
}

#selfie{
    position: fixed;
    color: rgba(255, 255, 255, 0.8);
    bottom: 0%;
    right: 2%;
    height: 15%;
    padding: 0.5%;
    font-size: 80%;
    border: solid 0px black;
}

video {
    transform: scaleX(-1);
  }  
